.header {
  nav {
    position: relative;
    padding: 27px;
  }

  &__logo {
    img {
      width: 2rem;
      height: 2rem;
      margin-right: 6.875rem;
    }
  }

  &__cta {
    button {
      background-color: $blue;
      width: 6.25rem;
      height: 1.875rem;
    }
  }

  &__toggle {
    > span {
      display: block;
      background-color: black;
      height: 2px;
      width: 26px;
      // if it is not the last child apply the style
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
