.hero {
  // position: relative;
  &__section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    h1 {
      padding-bottom: 1.375rem;
      font-size: $large;
      font-weight: 700;
      text-align: center;
    }
    p {
      padding-bottom: 40px;
      color: #767676;
      font-size: $medium;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  &__buttons {
    button {
      width: 144.62px;
      height: 40px;
      font-size: $small;
      margin: 0 1.6875rem;
    }

    .btn1 {
      background-color: $teal;
      margin-right: 14.57px;
    }
    .btn2 {
      background-color: $blue;
    }
  }

  .image__right {
    position: absolute;
    width: 75.7px;
    height: 30.1px;
    left: 269.18px;
    top: 117px;
  }
  .image__bottom {
    position: absolute;
    width: 140.54px;
    height: 113.25px;
    left: 116px;
    top: 644.31px;
  }
}
